@import './utils/vars';
@import './base/normalize.scss';
@import './base/base.scss';
@import './ui/modal.scss';
@import './ui/social-icons.scss';
@import './ui/filter-buttons.scss';
@import './components/header.scss';
@import './components/navigation.scss';
@import './components/top-section.scss';
@import './components/main-ideas.scss';
@import './components/companies.scss';
@import './components/portfolio.scss';
@import './components/footer.scss';
@import './components/card-images.scss';
@import './components/team.scss';
@import './components/modal-menu.scss';

