.companies {
    padding-top: 94px;
    padding-bottom: 94px;
}
.company-brands {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    gap: 30px;

    @media screen and (min-width: 1200px){
        justify-content: space-between;
        flex-wrap: nowrap;
    }

}
.brand{
    &__card {
        width: 210px;
        height: 92px;
        border: 1px solid  var(--border-color-dark);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: var(--border-color-dark);
        transition: 250ms;

        @media  (min-width: 768px) {
            width: 226px; 
            }
        @media  (min-width: 1200px) {
        width: 170px;      
        }
    }
    &__card:hover {
        border-color: var(--blue-brand-color);
        fill: var(--blue-brand-color);
        cursor: pointer;
    }
    &__card:focus {
        border-color: var(--blue-brand-color);
        fill: var(--blue-brand-color);
    }
}

