.footer {
    background-color: #2F303A; 
    max-width: 1600px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-container{
    @media screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px){
        flex-wrap: wrap;
        padding-left: 76px;
        padding-right: 89px;
        flex-direction: row;
        display: flex;
        gap: 60px;
        align-items: center;
    }
    @media screen and (min-width: 1200px){
        display: flex;
    }
}
.footer-contacts {
    @media screen and (max-width: 1200px){
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px){
        margin-right: 117px;
    }
    @media screen and (min-width: 1200px){
    display: flex;
    margin-right: 70px;
    flex-direction: column;
    align-items: left;
    }
    
}
a.logo-footer {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: var(--general-white-color);
    line-height: 1.3;
    font-size: 26px;
    margin-bottom: 20px;
    display: block;
}
.contact-footer > a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    display: block;
}
.address {
    color: var(--general-white-color);
    text-decoration: none;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.footer-join-cover{
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 1200px){
        display: block;
    }
}
.join {
    padding-top: 10px;
}
.footer-join {
    text-transform: uppercase;
    color: var(--general-white-color);
    text-align: center;  
    letter-spacing: 0.03em;
    font-weight: 700;
}
.social-link-group {
    margin-top: 20px; 
}
/*for icon footer*/
.social-group {
    &__cover-footer {
        background-color: #44454E;
        margin-right: 10px;
    }
    &__icon-footer {
        fill: var(--general-white-color);
    }
}

.subscribe {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 768px){
    margin-left: 93px;
    }
}
.form-footer {
    margin-top: 20px;
}
.twitter-label {
    visibility: hidden;
    display: block;
    width: 0px;
    height: 0px;
}
.twitter {
    max-width: 450px;
    min-width: 358px;
    height: 50px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2F303A;
    color: var(--general-white-color);
    outline: none;
}
.footer-button {
    display: flex;
    margin-left: 12px;
    position: relative;
}
.button-twitter{
    width: 200px;
    height: 50px;
    background-color: var(--blue-brand-color);
    color: var(--general-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 13px 10px 29px;
    border-radius: 4px;
    border: 0px;
}
.twitter-icon-footer {
    fill: var(--general-white-color);
}
.frame-button-twitter {
    position: relative;
    top: -40px;
    @media screen and (min-width: 768px) and (max-width: 1200px){
        transform: translate(80%);
    }
    @media screen and (min-width: 1200px){
        top: 47px;
        transform: translate(0);
    }
}
.submit-text{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.87;
    margin-right: 10px;
}