.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
    @media screen and (min-width: 1200px){
        flex-wrap: nowrap;
    }
}
.description-container,  .team{
    padding-top: 94px;
    padding-bottom: 94px;
}
.description-items{
    width: 450px;
    @media screen and (min-width: 768px){
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
    width: 270px;
    display: block;
    }
    &__sub-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        padding-bottom: 10px;
        padding-top: 30px;
        @media screen and (min-width: 768px){
            text-align: left;
        }
    }
    &__sub-title {
        color: var(--text-color-bold);
        line-height: 1.14;
        letter-spacing: 0.03em;
    }
    &__idea-icon {
        width: 70px;
        height: 70px;
        background-position: center;
    }
    &__cover-icon {
        width: 100%;
        height: 120px;
        background-color: var(--border-color) ;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: 768px){
            max-width: 100%;
            margin: 0px;
        }
    }  
    &__text {
        color: var(--text-color);
        letter-spacing: 0.03em;
        line-height: 1.7;
        font-size: 14px;
}
}



