/*section team*/

.team {
    background-color: var(--border-color);
}
.cards {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px){
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
        justify-content: space-between;
        margin-bottom: 0;
        padding-left: 0;
        flex-direction: row;
    }
}
.card {
    background-color: var(--general-white-color);
    width: 450px;
    box-shadow: 0 2px 2px var(--text-color);
    text-align: center;
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 270px;
    }
    &__desc{
        padding-top: 28px;
        padding-bottom: 28px;
    }
    &__sub-title{
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 15px;
        color: var(--text-color-bold);
        line-height: 1.14;
        letter-spacing: 0.03em;
    }
    &__text-member{
        color: var(--text-color);
        letter-spacing: 0.03em;
        line-height: 1.18;
        font-size: 16px;
    }
}

