body {
    background-color: var(--general-white-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--test-color);
    font-size: 14px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}
