:root {
    --text-color: #757575;
    --general-white-color: #fff;
    --text-color-bold: #212121;
    --blue-brand-color: #2196F3;
    --border-color: #F5F4FA;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --bacground-color: #2F303A;
    --border-color-dark: #AFB1B8;
}
