/*modal*/
.backdrop-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 250ms;

}
.modal {
    width: 450px;
    min-height: 581px;
    background-color: var(--general-white-color);
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    @media screen and (min-width: 768px){
        width: 528px;
    }
}
.modal-close-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8px;
    top: 8px;
    background-color: var(--general-white-color);
}
.modal-close-button:hover {
   fill: var(--blue-brand-color);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-title {
    margin-bottom: 12px;
    text-align: center;
    @media screen and (min-width: 1200px){
        text-align: center;
    }
    &__text {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 1.15; 
    }
}

.modal-form {
    &__info {
        width: 100%;
        display: block;
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: #757575;
    }
    &__frame {
        position: relative;
        margin-bottom: 10px;
    }
    &__input {
        width: 100%;
        display: block;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 14px 42px;
    }
    &__input:hover + &__icon,
    &__input:hover{
        border-color: var(--blue-brand-color);
        fill: var(--blue-brand-color);
        cursor: pointer;
    }
    &__input:focus + &__icon,
    &__input:focus {
        border-color: var(--blue-brand-color);
        outline: none;
        fill: var(--blue-brand-color);
    }
    &__icon {
        position: absolute;
        top: 14px;
        left: 15px;
        fill: #212121;
    }
    &__input-textarea{
        resize: none;
        height: 120px;
        padding: 12px 16px;
    }
}

.policy-text-link,
.policy-text {
    color: #757575;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.policy-text-link {
    color: var(--blue-brand-color);
}
.form-field {
    margin-bottom:30px;
}
.checkbox-policy {
    margin-bottom: 20px;
}
.checkbox {
    display: flex;
    justify-content: center;
}

.checkbox-control {
    border: 2px solid #212121;
    display: inline-block;
    margin-top: 0px;
    position: relative;
    top: 3px;
    margin-right: 9px;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    opacity: 1;

    &__icon {
        width: 16px;
        height: 15px;
        fill: var(--general-white-color);
        opacity: 0;
        position: absolute;
        top: 0;
        border-radius: 2px;
        top: -2px;
        left: -2px;
    }
    &__input {
        appearance: none;
    }
    &__input:checked,
    &__input:checked + &__icon {
        opacity: 1;
        background-color: var(--blue-brand-color);
    }
    &:checked {
        opacity: 0;
    }
}
.modal-button {
    position: relative;
    margin-bottom: 10px;
    left: 25%;

    &__send-form {
        width: 200px;
        height: 50px;
        background-color: var(--blue-brand-color);
        color: var(--general-white-color);
        position: relative;
        border: 0px;
        border-radius: 4px;
    }
    &__send-form:hover {
        cursor: pointer;
        box-shadow: 0 4px rgba(0, 0, 0, 0.15);
    }
}


